.remark-inline-code{
    background-color: whitesmoke
  }
.full {
    padding: 0px;
  }

.remark-slide-content {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
.remark-slide-content > h1:first-of-type {
    margin-top: 0px;
  }

.red { color: red; }